button {
  border: none;
  outline: none;
  width: fit-content;
  max-width: 250px;
  height: 70px;
  padding-inline: 2vw;
  font-size: 1.2em;
  font-weight: bold;
  color: var(--branco);
  border-radius: 10px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background-color: var(--vermelho);
  cursor: pointer;

  &:hover {
    background-color: #da0101;
  }

  &:active {
    transform: scale(.98);
  }
}
